body{
    /*background:#0099C7;*/
}
.nav-text{
    color:#0099C7 !important;
    font-family: sans-serif;
}
.nav-text:hover{
    color:#FF9500 !important;
}
.person-divider{
    background: black;

}
.regular-text{
    font-size:21px;
}
.front-page-text{
    font-size: 50px;
    margin:0 10px;
    font-weight: bold;
    text-align: center;
}
.support-us{
    margin:50px auto;
    width: 15%;
    display:block;
}
.contact-logo{
    margin: 0 5px;
}
.navbar-nav > li > .dropdown-menu a:link,
.navbar-nav > li > .dropdown-menu a:hover { background-color: black;}

@media screen and (max-width:8in) {
    .person-holder{
        flex-direction: column;
    }
    .person-image{
        min-width:75%; !important;
        margin-bottom: 50px;
    }
    .person-text{
        min-width:85%; !important;
    }
    .front-page-text{
        font-size: 32px;
    }
    .program-holder{
        flex-direction:column;
    }
    .program{
        min-width:100%;
    }
    .btn-donate{
        min-width:60%;
    }
    .support-us{
        min-width:30%;
    }
    .sponsor-box{
        min-width: 95%;
    }
    .article{
        min-width:85%;
    }
}
@media screen and (min-width:8in) {
    .program-holder{
        height:inherit;
    }
}
.frontpage-image{
    width:98%;
    margin:10px auto;
    display: block;
    transition: transform .4s;
}

.frontpage-image:hover{
    transform: scale(1.03);
}
.card-holder{
/*    https://getbootstrap.com/docs/4.0/components/card/*/
    display: flex;
    flex-direction:row;
    width:75%;
    margin:0 auto;
    align-items: center;
}
.card{
    width:25%;
    margin:0 auto;
    border-radius: 10%;
    padding:10px;
    align-items: center;
    transition: box-shadow .3s;
}
.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.person-holder{
    display: flex;
    margin:55px 5%;
    align-items: center;
}
.person-image{
    width: 37%;
    border-radius: 50px;
}
.person-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    width:61%;
}
.programs-site-holder{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
}
.program-holder{
    display: flex;
    max-width:100%;
}
.program{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
}
.program-image{
    width:50%;
}
.article{
    width:50%;
    margin: 10vh auto;
}
.article-text{
    font-size: 24px;
}
.blurb{
    width:75%;
    margin: 25px 0;
}
.btn-donate{
    margin:10px auto;
    display:block;
    width:30%;
    height:100px;
    font-size: 50px;
}

.learn-more{
    font-size:40px;
    margin: 10px 0;
    font-family: 'Josefin Sans',sans-serif;

}
.article-header{
    font-weight: bold;
    font-size:32px;
}

.link {
    /* RESET */
    text-decoration: none;
    line-height: 1;

    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    overflow: hidden;
    color: black;
    vertical-align: bottom;
    transition: color .3s ease-out;
}

.link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, white, white);
    /*I thing I just need to make one versions of link for each color (two in total)*/
    transition: transform .25s ease-out;
}

.link:hover{
    color:black;
}
.link:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
}

.sponsor-divider{
    background: black;
}
.sponsor-box{
    width:75%;
    margin:100px auto;
}

.sponsor-image{
    width:22.666%;
    margin:25px 5%;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Josefin Sans',sans-serif;
}

.underline{
    background: black;
    margin-top:0;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#0099C7' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #0099C7;
}

.custom-toggler:hover{
    border-color:#FF9500;
}

.btn-donate {
    color: #FFFFFF;
    background-color: #0099C7;
    border-color: #0099C7;
}

.btn-donate:hover,
.btn-donate:focus,
.btn-donate:active,
.btn-donate.active,
.open .dropdown-toggle.btn-donate {
    color: #FFFFFF;
    background-color: #02789C;
    border-color: #0099C7;
}

.btn-donate:active,
.btn-donate.active,
.open .dropdown-toggle.btn-donate {
    background-image: none;
}

.btn-donate.disabled,
.btn-donate[disabled],
fieldset[disabled] .btn-donate,
.btn-donate.disabled:hover,
.btn-donate[disabled]:hover,
fieldset[disabled] .btn-donate:hover,
.btn-donate.disabled:focus,
.btn-donate[disabled]:focus,
fieldset[disabled] .btn-donate:focus,
.btn-donate.disabled:active,
.btn-donate[disabled]:active,
fieldset[disabled] .btn-donate:active,
.btn-donate.disabled.active,
.btn-donate[disabled].active,
fieldset[disabled] .btn-donate.active {
    background-color: #0099C7;
    border-color: #0099C7;
}

.btn-donate .badge {
    color: #0099C7;
    background-color: #FFFFFF;
}
/* info on fading in: https://stackoverflow.com/questions/27747970/how-to-make-images-fade-visible-when-im-scrolling/27748638*/
.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}